.searchRules {
    width: 100%;
    margin: auto;
}
.searchRules > div {
    width: 100%;
}
.searchRules p {
    text-align: left;
}

.foldOutHeader {
    font-size: 1.2em;
    background-color: #eee;
    padding: 8px;
    transition: background-color 0.15s;
}
.foldOutHeader:hover {
    cursor: pointer;
    background-color: #ffc947;
}
.foldOutHeader i {
    vertical-align: bottom;
    float: right;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.ruleDescription {
    max-height: 0;
    transition: max-height 0.15s ease-out, padding 0.15s ease-out 0.12s;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    text-align: left;
}
.ruleDescription div:not(:last-child) {
    padding-bottom: 8px;
}
.ruleDescription i.tab {
    width: 8px;
}
.ruleDescription i.underline {
    text-decoration: underline;
}

.foldOut.expanded .ruleDescription {
    max-height: 1000px;
    transition: max-height 0.25s ease-in, padding-top 0s ease-in;
    padding: 8px;
}

i.expandAnimation {
    animation: rotate 0.8s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(200deg);
        -moz-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
        -o-transform: rotate(200deg);
        transform: rotate(200deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.cardBody {
    padding-top: 8px;
    text-align: center;
    max-height: 550px;
    overflow-x: scroll;
}

.cardMedia {
    width: 80%;
    max-width: 300px;
}

.centerChildren > * {
    margin: 10px auto;
    text-align: center;
    display: block;
}

.wideInputField {
    width: 95%;
    text-align: left;
}

.left {
    position: absolute;
    left: 8px;
}

.fabLowerRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.actionBar {
    padding-top: 4px;
    border-top: 1px solid rgba(1,1,1,0.2);
}

.actionBar > button {
    float: right;
}

.delete {
    -webkit-animation: shrink 0.8s;
    -o-animation: shrink 0.8s;
    animation: shrink 0.8s;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .fabLowerRight {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .cardHeader {
        padding: 16px;
    }

    .cardBody {
        padding: 16px;
    }

    .wideInputField {
        width: 80%;
    }

    .ruleDescriptionArea {
        height: 400px;
    }
    .ruleDescriptionArea textarea {
        height: 400px !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }
}

@keyframes shrink {
    100% {
        max-height: 0;
    }
}