.pb-0 {
    padding-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.fabLowerRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.listEndCenter {
    right: 5%;
    position: absolute;
}

.shoppingListItem {
    background-color: white;
    border-top: 1px solid lightgray;
}
.shoppingListItem:last-child {
    border-bottom: 1px solid lightgray;
}

/*.shoppingListItem:hover .checkbox {
    color: var(--mdc-theme-primary);
}*/

.revertMargin {
    margin: 0 -16px;
}

.primaryOnHover:hover {
    cursor: pointer;
    color: var(--mdc-theme-primary);
}

.mdc-theme--dark .shoppingListItem {
    color: white;
    background-color: #4e4e4e;
}

.wideInputField {
    width: 80%;
}

.addCategoryIcon {
    font-size: 3.5em;
}

.addCategoryIcon:hover {
    cursor: pointer;
    color: var(--mdc-theme-primary);
}

.centerChildren > * {
    margin: 10px auto;
    text-align: center;
    display: block;
}

@media(min-width: 1024px) {
    .fabLowerRight {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}