.pb-0 {
    padding-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.fabLowerRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.listEndCenter {
    right: 5%;
    position: absolute;
}

.shoppingListItem {
    background-color: white;
    border-top: 1px solid lightgray;
}
.shoppingListItem:last-child {
    border-bottom: 1px solid lightgray;
}
.shoppingListItem.delete {
    animation: left-then-right 0.5s;
}

/*.shoppingListItem:hover .checkbox {
    color: var(--mdc-theme-primary);
}*/

.revertMargin {
    margin: 0 -16px;
}

.primaryOnHover:hover {
    cursor: pointer;
    color: var(--mdc-theme-primary);
}

.mdc-theme--dark .shoppingListItem {
    color: white;
    background-color: #4e4e4e;
}

.wideInputField {
    width: 95%;
}

.addCategoryIcon {
    font-size: 3.5em;
}

.addCategoryIcon:hover {
    cursor: pointer;
    color: var(--mdc-theme-primary);
}

.centerChildren > * {
    margin: 4px auto;
    text-align: center;
    display: block !important;
}

.onlyDesktop {
    display: none;
}

.onlyMobile {
    display: inherit;
}

.left {
    position: absolute;
    left: 8px;
}

.scrollable {
    overflow-y: scroll;
}

.title {
    margin-bottom: 0;
}
.description {
    margin-bottom: 24px;
}

.alignIconCenter {
    vertical-align: top;
    line-height: 23px;
}

@media(min-width: 1024px) {
    .fabLowerRight {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .wideInputField {
        width: 80%;
    }

    .onlyDesktop {
        display: inline-block;
    }

    .onlyMobile {
        display: none;
    }
}

@keyframes left-then-right {
    0% { left: 0 }
    30% { left: -10% }
    100% { left: 120% }
}