.pb-0 {
    padding-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.delete {
    -webkit-animation: shrink 0.8s;
    -o-animation: shrink 0.8s;
    animation: shrink 0.8s;
    overflow: hidden;
}

.fabLowerRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.revertMargin {
    margin: 0 -16px;
}

.wideInputField {
    width: 95% !important;
    margin: 0 auto;
}
.wideInputField > div {
    width: 100%;
}
.wideInputField > label {
    text-align: left !important;
}
.wideInputField > textarea {
    width: 100% !important;
    height: 100% !important;
}

.centerChildren > *:not(textarea) {
    margin: 10px auto;
    text-align: center;
    display: block;
}

.onlyDesktop {
    display: none;
}

.onlyMobile {
    display: inherit;
}

.left {
    position: absolute;
    left: 8px;
}

.collapsed {
    max-height: 0;
}

.expanded {
    max-height: 400px;
}

.cardImage {
    max-width: 100%;
}

.cardBody {
    padding-left: 16px;
}

.scrollable {
    overflow-y: scroll;
    margin-top: 8px;
}

.description {
    margin-top: 8px;
    text-align: left !important;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.card {
    padding: 0;
    overflow-y: visible;
    max-height: 1000%;
}

.done {
    color: #2cff4a !important;
    font-weight: bold;
    cursor: default;
    -webkit-transition: color 0.6s;
    -moz-transition: color 0.6s;
    -ms-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
    animation: swell 0.6s ease-in;
}

.imageEditContainer {
    max-height: 300px
}

@keyframes swell {
    0% {
        font-size: 1em;
    }
    50% {
        font-size: 1.6em;
        padding: 0 12px;
    }
    100% {
        font-size: 1em;
        padding: 12px;
    }
}

@media(min-width: 1024px) {
    .fabLowerRight {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .wideInputField {
        width: 80%;
    }

    .onlyDesktop {
        display: inline-block;
    }

    .onlyMobile {
        display: none;
    }

    .menuDetails span:first-child {
        width: 15%;
    }
    .card {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-left: 2%;
    }

    .imageEditContainer {
        max-height: 500px;
    }
}

@keyframes shrink {
    100% {
        max-width: 0;
        max-height: 0;
    }
}