.login-card {
    max-width: 96%;
    margin: 1vh auto auto;
    overflow-x: scroll;
}
.login-card > div {
    padding: 8px;
}

.login-card form > div {
    margin-top: 15px;
}

.wide-text-field {
    display: block;
}

.login-btn {
    float: right;
}

.logoBox {
    max-width: 30%;
    margin: 0 auto;
}

.logoBox img {
    width: 100%;
}

@media (min-width: 1024px){
    .login-card {
        max-width: 60%;
    }

    .login-card > div {
        padding: 16px;
    }
}