.login-card {
    max-width: 60%;
    margin: 1vh auto auto;
}
.login-card > div {
    padding: 16px;
}

.login-card form > div {
    margin-top: 15px;
}

.wide-text-field {
    display: block;
}

.login-btn {
    float: right;
}

.logoBox {
    max-width: 60%;
    margin: 0 auto;
}

.logoBox img {
    width: 100%;
}